.board {
  position: relative;
  display: grid;
  grid-template-columns: calc(0.25 * var(--tile-size)) calc(
      8 * var(--tile-size)
    );
}

.tiles {
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  width: calc(8 * var(--tile-size));
}

/* .tile {
} */

.tile--light {
  background: var(--light-tile);
}

.tile--dark {
  background: var(--dark-tile);
}
