:root {
  --tile-size: 100px;
  --light-tile: rgb(238 214 182);
  --dark-tile: rgb(179 134 100);
  --bg-color: #202020;
  --highlight: rgba(0, 0, 0, 0.08);
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: "Sofia Sans", sans-serif;
  grid-template-columns: auto 220px;
}
button {
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}
